<div class="violet-about">
    <h4 class="v-section-tit">zeroli</h4>
    <article class="violet-about-det">
        <!--<p id="J_myFace" class="v-my-face"><img src="/assets/themes/twitter/img/avatar.png" alt="Brion AS" width="40px" height="40px" id="J_myFace_img" /></p>-->
        <!--<p id="J_myFace" class="v-my-face"><a href="/atom.xml"><img src="/assets/image/rss.png" alt="rss feed" width="40px" height="40px" id="J_myFace_img" /></a></p> -->
        <p id="J_myFace" class="v-my-face"><img src="/assets/image/Me.png" width="200px" height="200px" id="J_myFace_img" /></p>

        <p></p>
        <p></p>
		<p></p>

        <p></p>
    </article>
    <p class="v-more-right">
        <a href="/about.html"><span>&#10149;</span>More</a>
    </p>
</div><!-- //violet-about -->


